/* Begin Typography & Colors */

body {
  font-size: 100%;
  background-color: #fff;
  color: #333;
  text-align: center;
}

body, pre, code {
  font-family: 'Bitstream Vera Sans Mono', Monaco, 'Lucida Console', Courier, monospace;
}

.post .entry h2,
#page {
  text-align: left;
}

.narrowcolumn .entry, .widecolumn .entry {
  line-height: 1.2em;
}

small, table {
  font-size: 0.9em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-size: 1em;
}

h2 {
  text-align: center;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

h2 div {
  display: inline;
}

#sidebar iframe {
  margin-left: 1em;
}

#sidebar h2 {
  text-align: left;
}

.entry h3 {
  color: #f99;
}

h1, h1 a, h1 a:hover, h1 a:visited, .description {
  text-decoration: none;
  color: #333;
}

h2, h2 a, h2 a:visited, h3, h3 a, h3 a:visited {
  color: #eee;
  font-weight: bold;
  font-size: 1.125em;
}

h2 a:hover, h2 a:active {
  color: #fff;
}

#sidebar h2, #sidebar h2 a, #sidebar h2 a:visited, #sidebar h3, #sidebar
h3 a, #sidebar h3 a:visited {
  color: #000;
  font-weight: bold;
  font-size: 1.125em;
}

#sidebar h2 a:hover, #sidebar h2 a:active {
  color: #000;
  text-decoration: underline;
}

h2, h2 a, h2 a:hover, h2 a:visited, h3, h3 a, h3 a:hover, h3 a:visited, #wp-calendar caption, cite {
  text-decoration: none;
}

.entry p a:visited {
  color: #b85b5a;
}

.commentlist cite, .commentlist cite a {
  font-style: normal;
}

.commentlist p {
  font-weight: normal;
  text-transform: none;
}

.commentmetadata {
  font-weight: normal;
}

small, .nocomments, .mode-line, blockquote, strike {
  color: #333;
}

.mode-line div {
  display: inline;
  white-space: nowrap;
}

acronym, abbr, span.caps
{
  font-size: 0.9em;
  letter-spacing: .07em;
}

a, h3 a:hover {
  color: #06c;
  text-decoration: none;
}

.entry a:hover, .navigation a:hover {
  background-color: #b4eeb4;
  text-decoration: none;
}

#wp-calendar #prev a {
  font-size: 9pt;
}

#wp-calendar a {
  text-decoration: none;
}

#wp-calendar th {
  font-style: normal;
  text-transform: capitalize;
}
/* End Typography & Colors */

/* Begin Structure */
body {
  margin: 0;
  padding: 0;
}

#page {
  margin: 20px auto;
  padding: 0;
}

#header, #sidebar, #footer {
  font-family: 'Lucida Grande', Arial, Helvetica, sans-serif;
}

#header {
  padding: 0;
  margin: 0 auto 1em auto;
  width: 100%;
}

#header h1 {
  font-size: 4em;
}

#header .description {
  font-size: 1em;
}

#headerimg {
  margin: 0;
  width: 100%;
}


.post {
  margin: 0 0 1em;
  background-color: #fff;
  color: #000;
  padding-bottom: 0.5em; /* minibuffer */
  border: 1px solid black;
}

.post h2 {
  background-color: #66c;
  color: #fff;
  width: 100%;
  overflow: scroll;
}

.post .entry h2 {
  background-color: inherit;
  color: inherit;
}

.entry {
  border-left: 4px solid #eee;
  border-right: 4px solid #eee;
  padding-left: 1em;
  padding-right: 1em;
  overflow: scroll;
}

.entry pre {
  font-size: 1em;
}

.mode-line {
  clear: left;
  padding: 1px;
  background-color: #ccc;
  color: #000;
  border-top: 2px solid #eee;
  border-left: 2px solid #eee;
  border-right: 2px solid #aaa;
  border-bottom: 2px solid #aaa;
  overflow: hidden;
}

.mode-line, .mode-line :link, .mode-line :visited,
.mode-line a:hover, .mode-line :active {
  color: #000;
}

.modeline-continuation {
  overflow: hidden;
}

#footer {
  padding: 0 0 0 1px;
  margin: 0 auto;
  clear: both;
  list-style-type: none;
  font-size: 0.875em;
  }

#footer li {
  margin-top: 1em;
}

/* End Structure */

/*  Begin Headers */
h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h2.pagetitle {
  font-weight: normal;
}

h3 {
  padding: 0;
  margin: 30px 0 0;
}

/* End Headers */

/* Begin Images */
p img {
  padding: 0;
  max-width: 100%;
}

/* Begin Lists

  Special stylized non-IE bullets
  Do not work in Internet Explorer, which merely default to normal bullets. */

html>body .entry ul {
  margin-left: 0px;
  padding: 0 0 0 30px;
  list-style: none;
  padding-left: 10px;
  text-indent: -10px;
}

html>body .entry li {
  margin: 7px 0 8px 10px;
}

.entry ul li, #sidebar ul ul li, #commentform ul li {
  list-style-type: none;
  clear: both;
}

.entry ul li:before, #sidebar ul ul li:before, #commentform ul li:before {
  content: "- ";
}

#commentform ul li input {
  float: right;
  margin-right: 4em;
}

textarea#comment {
  margin: 0 2em 0 1em;
  padding: 0;
  width: 98%;
}

.entry ol {
  padding: 0 0 0 35px;
  margin: 0;
}

.entry ol li {
  margin: 0;
  padding: 0;
}

.mode-line ul, .mode-line li {
  display: inline;
  list-style-type: none;
  list-style-image: none;
}

#content { min-width: 0; margin: auto; max-width: 70em }
#sidebar {
  margin: 1em 2em;
  padding: 1em;
  font-size: 0.875em;
  flex: 0 0 250px;
/*   height: 8em; */
}
#sidebar ul ul li, #sidebar ul ol li, #sidebar ol ul li, #sidebar ol ol {
  float: none;
  margin: 0;
  padding: 0;
  font-size: 1em;
/*   width: auto; */
/*   height: auto; */
}

#sidebar ul, #sidebar ul ol {
  margin: 0;
  padding: 0;
}

#sidebar ul li {
  list-style-type: none;
  list-style-image: none;
  margin-bottom: 15px;
}

#sidebar ul p, #sidebar ul select {
  margin: 5px 0 8px;
}

#sidebar ul ul, #sidebar ul ol {
  margin: 5px 0 0 10px;
}

#sidebar ul ul ul, #sidebar ul ol {
  margin: 0 0 0 10px;
}

ol li, #sidebar ul ol li {
  list-style: decimal outside;
}

#sidebar ul ul li, #sidebar ul ol li {
  margin: 3px 0 0;
  padding: 0;
}
/* End Entry Lists */

/* Begin Form Elements */
#searchform {
  margin: 10px auto;
  padding: 5px 3px;
}

#sidebar #searchform #s {
  padding: 2px;
}

#sidebar #searchsubmit {
  padding: 1px;
}

.entry form { /* This is mainly for password protected posts, makes them look better. */
  text-align:center;
}

select {
  width: 130px;
}

#commentform input {
  width: 170px;
  padding: 2px;
  margin: 5px 5px 1px 0;
}

#commentform #submit {
  margin: 0;
}
/* End Form Elements */



/* Begin Comments*/

.commentlist {
  margin: 0;
  padding: 0;
}

.commentlist li {
  list-style-type: none;
}

.commentlist li * {
  margin: 1em;
}

.commentlist li pre {
  margin: 0em;
}

#commentform p {
  margin: 1em;
}

.nocomments {
  text-align: center;
  margin: 0;
  padding: 0;
}

.commentmetadata {
  margin: 0;
  display: block;
}
/* End Comments */

/* Begin Various Tags & Classes */
acronym, abbr, span.caps {
  cursor: help;
}

blockquote {
  margin: 15px 30px 0 10px;
  padding-left: 20px;
  font-size: 0.875em;
}
blockquote blockquote {
  font-size: 1em;
}

blockquote cite {
  margin: 5px 0 0;
  display: block;
}

.center {
  text-align: center;
}

hr {
  display: none;
}

a img {
  border: none;
}

.navigation {
  background-color: #eee;
  margin: 0;
}
/* End Various Tags & Classes*/

/* elisp */

code.elisp .keyword  { color: #069; }
code.elisp .fun	     { color: #099; }
code.elisp .var	     { color: #933; }
code.elisp .string   { color: #393; }
code.elisp .comment  { color: #333; }
code.elisp .rest     { color: #993; }
code.elisp .builtin  { color: #369; }
code.elisp .constant { color: #963; }
code.elisp kbd       { font-weight: bold; }
code.elisp samp      { font-weight: normal; }
.ielm .prompt        { color: #933; }

/* latex */

.latex, .tex {
  font-size: 1em;
}

/* a of LaTeX */
.latex sup {
  font-size: 0.75em;
  vertical-align: 0.3em;
  margin-left: -0.3em;
  text-transform: uppercase;
}

/* e of TeX/LaTeX */
.latex sub, .tex sub {
  vertical-align: -0.25em;
  margin-left: -0.2em;
  margin-right: -0.1em;
  text-transform: uppercase;
}

.feed-icon {
  border: 0;
  float: right;
  margin: 0.5em;
}

region {
    color: #ffffff;
    background-color: #f9b593;
}

kbd {
    padding:0.1em 0.6em;
    border:1px solid #ccc;
    font-size:13px;
    font-weight:bold;
    font-family:monospace;
    background-color:#f3d3d3;
    color:#333;
    -moz-box-shadow:0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
    -webkit-box-shadow:0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
    box-shadow:0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    display:inline-block;
    margin:0 0.1em;
    text-shadow:0 1px 0 #fff;
    line-height:1.4;
    white-space:nowrap;
}

cursor {
    color: #fff;
    background-color: #000;
    overflow: scroll;
}
@media only screen and (min-width: 1000px) {
    #page { display: flex; margin: auto; justify-content: center  }
		#content { margin: unset }
}

img, svg, video { max-width: 100%; max-height: 90vh; height: auto; width: auto }

/* Org syntax highlighting */
.org-bold { /* bold */ font-weight: bold; }
.org-bold-italic { /* bold-italic */ font-weight: bold; font-style: italic; }
.org-buffer-menu-buffer { /* buffer-menu-buffer */ font-weight: bold; }
.org-builtin { /* font-lock-builtin-face */ color: #7a378b; }
.org-button { /* button */ text-decoration: underline; }
.org-calendar-today { /* calendar-today */ text-decoration: underline; }
.org-change-log-acknowledgement { /* change-log-acknowledgement */ color: #b22222; }
.org-change-log-conditionals { /* change-log-conditionals */ color: #a0522d; }
.org-change-log-date { /* change-log-date */ color: #8b2252; }
.org-change-log-email { /* change-log-email */ color: #a0522d; }
.org-change-log-file { /* change-log-file */ color: #0000ff; }
.org-change-log-function { /* change-log-function */ color: #a0522d; }
.org-change-log-list { /* change-log-list */ color: #a020f0; }
.org-change-log-name { /* change-log-name */ color: #008b8b; }
.org-comint-highlight-input { /* comint-highlight-input */ font-weight: bold; }
.org-comint-highlight-prompt { /* comint-highlight-prompt */ color: #00008b; }
.org-comment { /* font-lock-comment-face */ color: #999988; font-style: italic; }
.org-comment-delimiter { /* font-lock-comment-delimiter-face */ color: #999988; font-style: italic; }
.org-completions-annotations { /* completions-annotations */ font-style: italic; }
.org-completions-common-part { /* completions-common-part */ color: #000000; background-color: #ffffff; }
.org-completions-first-difference { /* completions-first-difference */ font-weight: bold; }
.org-constant { /* font-lock-constant-face */ color: #008b8b; }
.org-diary { /* diary */ color: #ff0000; }
.org-diff-context { /* diff-context */ color: #7f7f7f; }
.org-diff-file-header { /* diff-file-header */ background-color: #b3b3b3; font-weight: bold; }
.org-diff-function { /* diff-function */ background-color: #cccccc; }
.org-diff-header { /* diff-header */ background-color: #cccccc; }
.org-diff-hunk-header { /* diff-hunk-header */ background-color: #cccccc; }
.org-diff-index { /* diff-index */ background-color: #b3b3b3; font-weight: bold; }
.org-diff-nonexistent { /* diff-nonexistent */ background-color: #b3b3b3; font-weight: bold; }
.org-diff-refine-change { /* diff-refine-change */ background-color: #d9d9d9; }
.org-dired-directory { /* dired-directory */ color: #0000ff; }
.org-dired-flagged { /* dired-flagged */ color: #ff0000; font-weight: bold; }
.org-dired-header { /* dired-header */ color: #228b22; }
.org-dired-ignored { /* dired-ignored */ color: #7f7f7f; }
.org-dired-mark { /* dired-mark */ color: #008b8b; }
.org-dired-marked { /* dired-marked */ color: #ff0000; font-weight: bold; }
.org-dired-perm-write { /* dired-perm-write */ color: #b22222; }
.org-dired-symlink { /* dired-symlink */ color: #a020f0; }
.org-dired-warning { /* dired-warning */ color: #ff0000; font-weight: bold; }
.org-doc { /* font-lock-doc-face */ color: #8b2252; }
.org-escape-glyph { /* escape-glyph */ color: #a52a2a; }
.org-file-name-shadow { /* file-name-shadow */ color: #7f7f7f; }
.org-flyspell-duplicate { /* flyspell-duplicate */ color: #cdad00; font-weight: bold; text-decoration: underline; }
.org-flyspell-incorrect { /* flyspell-incorrect */ color: #ff4500; font-weight: bold; text-decoration: underline; }
.org-fringe { /* fringe */ background-color: #f2f2f2; }
.org-function-name { /* font-lock-function-name-face */ color: teal; }
.org-header-line { /* header-line */ color: #333333; background-color: #e5e5e5; }
.org-help-argument-name { /* help-argument-name */ font-style: italic; }
.org-highlight { /* highlight */ background-color: #b4eeb4; }
.org-holiday { /* holiday */ background-color: #ffc0cb; }
.org-isearch { /* isearch */ color: #b0e2ff; background-color: #cd00cd; }
.org-isearch-fail { /* isearch-fail */ background-color: #ffc1c1; }
.org-italic { /* italic */ font-style: italic; }
.org-keyword { /* font-lock-keyword-face */ color: #0086b3; }
.org-lazy-highlight { /* lazy-highlight */ background-color: #afeeee; }
.org-link { /* link */ color: #0000ff; text-decoration: underline; }
.org-link-visited { /* link-visited */ color: #8b008b; text-decoration: underline; }
.org-log-edit-header { /* log-edit-header */ color: #a020f0; }
.org-log-edit-summary { /* log-edit-summary */ color: #0000ff; }
.org-log-edit-unknown-header { /* log-edit-unknown-header */ color: #b22222; }
.org-match { /* match */ background-color: #ffff00; }
.org-next-error { /* next-error */ background-color: #eedc82; }
.org-nobreak-space { /* nobreak-space */ color: #a52a2a; text-decoration: underline; }
.org-org-archived { /* org-archived */ color: #7f7f7f; }
.org-org-block { /* org-block */ color: #7f7f7f; }
.org-org-block-begin-line { /* org-block-begin-line */ color: #b22222; }
.org-org-block-end-line { /* org-block-end-line */ color: #b22222; }
.org-org-checkbox { /* org-checkbox */ font-weight: bold; }
.org-org-checkbox-statistics-done { /* org-checkbox-statistics-done */ color: #228b22; font-weight: bold; }
.org-org-checkbox-statistics-todo { /* org-checkbox-statistics-todo */ color: #ff0000; font-weight: bold; }
.org-org-clock-overlay { /* org-clock-overlay */ background-color: #ffff00; }
.org-org-code { /* org-code */ color: #7f7f7f; }
.org-org-column { /* org-column */ background-color: #e5e5e5; }
.org-org-column-title { /* org-column-title */ background-color: #e5e5e5; font-weight: bold; text-decoration: underline; }
.org-org-date { /* org-date */ color: #a020f0; text-decoration: underline; }
.org-org-document-info { /* org-document-info */ color: #191970; }
.org-org-document-info-keyword { /* org-document-info-keyword */ color: #7f7f7f; }
.org-org-document-title { /* org-document-title */ color: #191970; font-size: 144%; font-weight: bold; }
.org-org-done { /* org-done */ color: #228b22; font-weight: bold; }
.org-org-drawer { /* org-drawer */ color: #0000ff; }
.org-org-ellipsis { /* org-ellipsis */ color: #b8860b; text-decoration: underline; }
.org-org-footnote { /* org-footnote */ color: #a020f0; text-decoration: underline; }
.org-org-formula { /* org-formula */ color: #b22222; }
.org-org-headline-done { /* org-headline-done */ color: #bc8f8f; }
.org-org-hide { /* org-hide */ color: #ffffff; }
.org-org-latex-and-export-specials { /* org-latex-and-export-specials */ color: #8b4513; }
.org-org-level-1 { /* org-level-1 */ color: #0000ff; }
.org-org-level-2 { /* org-level-2 */ color: #a0522d; }
.org-org-level-3 { /* org-level-3 */ color: #a020f0; }
.org-org-level-4 { /* org-level-4 */ color: #b22222; }
.org-org-level-5 { /* org-level-5 */ color: #228b22; }
.org-org-level-6 { /* org-level-6 */ color: #008b8b; }
.org-org-level-7 { /* org-level-7 */ color: #7a378b; }
.org-org-level-8 { /* org-level-8 */ color: #8b2252; }
.org-org-link { /* org-link */ color: #0000ff; text-decoration: underline; }
.org-org-meta-line { /* org-meta-line */ color: #b22222; }
.org-org-mode-line-clock { /* org-mode-line-clock */ color: #000000; background-color: #bfbfbf; }
.org-org-mode-line-clock-overrun { /* org-mode-line-clock-overrun */ color: #000000; background-color: #ff0000; }
.org-org-quote { /* org-quote */ color: #7f7f7f; }
.org-org-scheduled { /* org-scheduled */ color: #006400; }
.org-org-scheduled-previously { /* org-scheduled-previously */ color: #b22222; }
.org-org-scheduled-today { /* org-scheduled-today */ color: #006400; }
.org-org-sexp-date { /* org-sexp-date */ color: #a020f0; }
.org-org-special-keyword { /* org-special-keyword */ color: #a020f0; }
.org-org-table { /* org-table */ color: #0000ff; }
.org-org-tag { /* org-tag */ font-weight: bold; }
.org-org-target { /* org-target */ text-decoration: underline; }
.org-org-time-grid { /* org-time-grid */ color: #b8860b; }
.org-org-todo { /* org-todo */ color: #ff0000; font-weight: bold; }
.org-org-upcoming-deadline { /* org-upcoming-deadline */ color: #b22222; }
.org-org-verbatim { /* org-verbatim */ color: #7f7f7f; }
.org-org-verse { /* org-verse */ color: #7f7f7f; }
.org-org-warning { /* org-warning */ color: #ff0000; font-weight: bold; }
.org-outline-1 { /* outline-1 */ color: #0000ff; }
.org-outline-2 { /* outline-2 */ color: #a0522d; }
.org-outline-3 { /* outline-3 */ color: #a020f0; }
.org-outline-4 { /* outline-4 */ color: #b22222; }
.org-outline-5 { /* outline-5 */ color: #228b22; }
.org-outline-6 { /* outline-6 */ color: #008b8b; }
.org-outline-7 { /* outline-7 */ color: #7a378b; }
.org-outline-8 { /* outline-8 */ color: #8b2252; }
.org-preprocessor { /* font-lock-preprocessor-face */ color: #7a378b; }
.org-query-replace { /* query-replace */ color: #b0e2ff; background-color: #cd00cd; }
.org-regexp-grouping-backslash { /* font-lock-regexp-grouping-backslash */ font-weight: bold; }
.org-regexp-grouping-construct { /* font-lock-regexp-grouping-construct */ font-weight: bold; }
.org-region { /* region */ background-color: #eedc82; }
.org-secondary-selection { /* secondary-selection */ background-color: #ffff00; }
.org-shadow { /* shadow */ color: #7f7f7f; }
.org-show-paren-match { /* show-paren-match */ background-color: #40e0d0; }
.org-show-paren-mismatch { /* show-paren-mismatch */ color: #ffffff; background-color: #a020f0; }
.org-string { /* font-lock-string-face */ color: #dd1144; }
.org-tool-bar { /* tool-bar */ color: #000000; background-color: #bfbfbf; }
.org-tooltip { /* tooltip */ color: #000000; background-color: #ffffe0; }
.org-trailing-whitespace { /* trailing-whitespace */ background-color: #ff0000; }
.org-type { /* font-lock-type-face */ color: #228b22; }
.org-underline { /* underline */ text-decoration: underline; }
.org-variable-name { /* font-lock-variable-name-face */ color: teal; }
.org-warning { /* font-lock-warning-face */ color: #ff0000; font-weight: bold; }
.org-widget-button { /* widget-button */ font-weight: bold; }
.org-widget-button-pressed { /* widget-button-pressed */ color: #ff0000; }
.org-widget-documentation { /* widget-documentation */ color: #006400; }
.org-widget-field { /* widget-field */ background-color: #d9d9d9; }
.org-widget-inactive { /* widget-inactive */ color: #7f7f7f; }
.org-widget-single-line-field { /* widget-single-line-field */ background-color: #d9d9d9; }
